<div class="position-toolbar row">
    <div class="col-12">
        <a
                class="fa fa-plus btn btn-info openmodal"
                href="admin/block/adminblockposition/edit"
        ></a>
        Position : {{templatePosition}}
    </div>
</div>